.copy_button {
  min-width: 2rem;
  min-height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background: rgb(235, 234, 234);
  position: relative;
}

.copy_button img {
  position: absolute;
  margin: 0 auto;
  width: 60%;
  opacity: 0.5;
}

.list_text {
  flex: 1 1 0%;
  font-family: "Satoshi", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(55 65 81/ 0.8);
}
