.list_section {
  margin-top: 4rem;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 0.75rem;
  max-height: 15rem;
  overflow-y: auto;
}

.list {
  padding: 0.75rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  background: rgb(255 255 255);
  border-width: 1px;
  border-color: rgb(229 231 235);
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  .list_section {
    max-width: 60%;
  }
}
